[submodule "RC/Oled/AVR"]
	path = RC/Oled/AVR
	url = https://github.com/PeterStegemann/Atmel-AVR-CPP.git
[submodule "RC/Main/AVR"]
	path = RC/Main/AVR
	url = https://github.com/PeterStegemann/Atmel-AVR-CPP.git
