<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>hermesONE</string>
	<key>CFBundleGetInfoString</key>
	<string>hermesONE 1.0 for Mac OS X</string>
	<key>CFBundleIconFile</key>
	<string>hermesONE.icns</string>
</dict>
</plist>
